<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>外国语小学三二班学生管理系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/xadmin.css">
	<link rel="stylesheet" href="/lib/layui/css/layui.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/xadmin.js"></script>
	<script type="text/javascript" src="/js/common/dateUtil.js"></script>
</head>